apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-end
  labels: 
    app: backend
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: rwright1992/backend
        ports:
        - containerPort: 9966
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    service: backend
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 9966
      targetPort: 9966
  selector:
    app: backend
